.banner{
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}


.banner-info{
  width: 900px;
  margin: auto;
}



.banner-info h1{
  color: white;
}


.banner-info p{
    color: #b3b3b4;
    font-size: 20px;
    padding-bottom: 35px;
}

.banner-button{
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: #69d58b;
  font-weight: bold;
}
.banner-button:hover{
  background-color: green;
  transition: background 0.3s ease;
}
